/* Estilos gerais */
body {
    background-color: #2a2a2a; /* Cor de fundo escura */
    color: #fff; /* Cor do texto clara */
    font-family: 'Arial', sans-serif; /* Fonte padrão */
}

/* Estilos do cabeçalho */
header {
    background-color: #1a1a1a; /* Cor de fundo mais escura para o cabeçalho */
    padding: 20px;
}

h1, h2 {
    color: #fff; /* Cor do título clara */
}

/* Estilos para a seção principal de instrutores */
#instrutores {
    margin: 20px;
}

.instrutor {
    background-color: #333; /* Cor de fundo mais escura para cada bloco de instrutor */
    color: #fff;
    padding: 15px;
    margin-bottom: 10px;
}

/* Estilos para links */
a {
    color: #4eade2; /* Cor dos links */
}

a:hover {
    color: #fff; /* Cor dos links ao passar o mouse */
}

/* Outros estilos conforme necessário */

/* Estilos para o rodapé */
footer {
    background-color: #1a1a1a;
    padding: 10px;
    color: #fff;
    text-align: center;
}

/* Estilo para botões, se necessário */
.btn {
    background-color: #4eade2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #265273;
}
