body {
    font-family: 'Arial', sans-serif;
    background-color: #2a2a2a;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1a1a1a;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: #fff;
}

#instrutores {
    margin: 20px;
}

.instrutor {
    background-color: #333;
    color: #fff;
    padding: 15px;
    margin-bottom: 10px;
}

a {
    color: #4eade2;
}

a:hover {
    color: #fff;
}

footer {
    background-color: #1a1a1a;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.btn {
    background-color: #4eade2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #265273;
}

/* Adicione os estilos da barra de notificação (notification-icon, notification-popup) abaixo desta linha */
.notification-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #ff5e5e;
    cursor: pointer;
}

.notification-icon:hover {
    color: #f95959;
}

.notification-popup {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
}
