<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jiu.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <script src="{{ url_for('static', filename='scripts/jiu.js') }}"></script>
  <title>BjjGus</title>
</head>

<header>

    
    <ul class="navigation">
            <a href="home">Início</a>
            <a href="cadastro">Cadastro</a>
            <a href="login">Login</a>
            <a href="Instrutores">Instrutores</a>
    </ul>
    <div class="notification-icon">
        <i class="fas fa-bell"></i>
      </div>
    <div class="notification-popup" id="notificationPopup">
            <div id="noNotificationsMessage" style="display: none;">Não há notificações.</div>
        
    
    </div>
  
      </div>
    <h1>BjjGus</h1>
</header>


    <title>Bjj</title>
<body>


    <main>
        <section>
            <h2>Seja bem vindo.</h2>
            <p>Bem-vindo ao BjjGus! Meu nome é Ryan, e sou apaixonado por jiu-jitsu há 7 anos. Decidi criar este site com o objetivo de promover e destacar os talentosos atletas da nossa cidade. Aqui, você encontrará informações sobre programas de treinamento, notícias do mundo do jiu-jitsu e, claro, perfis inspiradores dos praticantes locais. Sinta-se à vontade para explorar e conhecer mais sobre o incrível universo das artes marciais.</p>
        </section>
        <br>
        <section>
          <h2>Em breve</h2>
          <p>"Estamos trabalhando arduamente para desenvolver programas de treino exclusivos que visam aprimorar seu desempenho no jiu-jitsu. Fique atento, pois em breve estaremos disponibilizando esses recursos incríveis para ajudar você a alcançar todo o seu potencial."</p>




    </main>

    <footer>
        <p>&copy; 2023, oss.</p>
    </footer>
    <div id="modalBemVindo" class="modal">
        <div class="modal-content">
          <span class="fechar-modal" onclick="fecharModalBemVindo()">&times;</span>
          <p>Bem-vindo, guerreiro!</p>
        </div>
      </div>
</body>
</html>